<h1>Listing messages</h1>

<p>Send SMS to: (415) 599-2671 with 4497-7529 pin prepended to the message.</p>
<p>Email and MMS to users+<%=@user.id %>@mail.connectedgames.net</p>
<table>
  <tr>
    <th>Created on</th>
    <th>Text</th>
  </tr>

<% @messages.each do |message| %>
  <tr>
    <td><%=h message.text %></td>
    <td><%= link_to 'Show', message_path(message) %></td>
    <td><%= link_to 'Edit', edit_message_path(message) %></td>
    <td><%= link_to 'Destroy', message_path(message), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New message', new_message_path %>